<section class="card">
  <header class="card__header">
    <img
      src="images/illustration-grow-together.svg"
      alt=""
      class="card__header__image"
    />
  </header>
  <div class="card__body">
    <h1 class="card__body__heading">Grow Together</h1>
    <p class="card__body__description">
      Generate meaningful discussions with your audience and build a strong,
      loyal community. Think of the insightful conversations you miss out on
      with a feedback form.
    </p>
  </div>
</section>
