<section class="footer">
    <footer class="main_footer">
      <img src="images/logo.svg" alt="" class="footer__logo__image" />
      <div class="footer__info__section">
        <div class="footer__info__section__element">
          <img src="images/icon-location.svg" alt="" class="element__logo" />
          <p class="element__info">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos,
            iure sunt voluptate voluptates cumque pariatur.
          </p>
        </div>
        <div class="footer__info__section__element">
          <img src="images/icon-phone.svg" alt="" class="element__logo" />
          <p class="element__info">+1-543-123-4567</p>
        </div>
        <div class="footer__info__section__element">
          <img src="images/icon-email.svg" alt="" class="element__logo" />
          <p class="element__info">example@fylo.com</p>
        </div>
      </div>
      <nav class="footer__navbar">
        <a href="" class="footer__navbar__element">About Us</a>
        <a href="" class="footer__navbar__element">What We Do</a>
        <a href="" class="footer__navbar__element">FAQ</a>
        <a href="" class="footer__navbar__element">Career</a>
        <a href="" class="footer__navbar__element">Blog</a>
        <a href="" class="footer__navbar__element">Contact Us</a>
      </nav>
      <div class="social__accs">
        <img src="images/facebook-brands.svg" alt="" class="social__logo" />
        <img src="images/twitter-brands.svg" alt="" class="social__logo" />
        <img src="images/instagram-brands.svg" alt="" class="social__logo" />
      </div>
      <div class="copyright">
        <p class="copyright__text">
          &#169 Copyright 2018 Huddle. All rights reserved.
        </p>
      </div>
    </footer>
  </section>