<section class="hero">
  <header class="hero__header">
    <div class="hero__logo">
      <img src="images/logo.svg" alt="" class="hero__header__logo" />
    </div>
    <button class="btn--primary"><a href="">Try it Free</a></button>
  </header>
  <div class="hero__main">
    <h1 class="hero__main__heading">
      Build The Community <br />Your Fans Will Love
    </h1>
    <p class="hero__main__desciption">
      Huddle re-imagine the way we build communities. You have a voice, but so
      does your audience. Create connections with your users as you engage in
      genuine discussion.
    </p>
    <button class="btn--hero"><a href="">Get Started For Free</a></button>
    <img
      src="images/illustration-mockups.svg"
      alt=""
      class="hero__main__image"
    />
  </div>
</section>
